openapi: 3.1.0
info:
  title: CoinPay Public API
  version: 0.6.11
  description: |
    Public, read-only endpoints for CoinPay — health, supported coins,
    exchange rates. Authenticated merchant endpoints (invoices, payments,
    payouts) require an API key and are documented in /docs.
  contact:
    name: CoinPay
    email: hello@coinpayportal.com
    url: https://coinpayportal.com
  license:
    name: MIT

servers:
  - url: https://coinpayportal.com
    description: Production

paths:
  /api/health:
    get:
      summary: Health check
      operationId: health
      responses:
        '200':
          description: Service is up
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }

  /api/supported-coins:
    get:
      summary: List supported cryptocurrencies and chains
      operationId: supportedCoins
      responses:
        '200':
          description: Array of supported coins
          content:
            application/json:
              schema:
                type: object
                properties:
                  coins:
                    type: array
                    items: { $ref: '#/components/schemas/Coin' }

  /api/rates:
    get:
      summary: Current exchange rates (USD ↔ supported coins)
      operationId: rates
      parameters:
        - in: query
          name: symbols
          description: Comma-separated coin symbols (e.g. BTC,ETH,USDT)
          schema: { type: string }
      responses:
        '200':
          description: Map of symbol → USD price
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: number

components:
  schemas:
    Coin:
      type: object
      properties:
        symbol: { type: string }
        name: { type: string }
        chain: { type: string }
        decimals: { type: integer }
        is_stablecoin: { type: boolean }
        lightning_enabled: { type: boolean }
